body {
    background: linear-gradient(
        90deg, rgb(25,119,22) 0%,
        rgb(43,152,37) 12.5%,
        rgb(25,119,22) 25%,
        rgb(43,152,37) 37.5%,
        rgb(25,119,22) 50%,
        rgb(43,152,37) 62.5%,
        rgb(25,119,22) 75%,
        rgb(43,152,37) 87.5%,
        rgb(25,119,22) 100%
    );
    background-size: 200% 200%;
    animation: moveBackground 65s infinite;
}

@keyframes moveBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 200% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}